$board-sizes: 4, 5, 6, 7, 8, 9, 10, 11;

@mixin board($number-of-letters) {
  display: grid;
  grid-template-columns: repeat($number-of-letters, minmax(20px, 37px));
  // grid-template-rows: repeat(6, minmax(auto, 48px));
  grid-gap: 5px;
  justify-items: center;
  margin: auto;
  // margin-left: 18.6%;
  // margin-bottom: 25px;
  // margin-right: 10%;
  // margin-top: -6.3px;
  // margin-top: 5px;
  height: 45vh;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(45px, 45px));
  @media (min-height: 750px) {
    grid-gap: 8px;
  }
  @media (min-height: 850px) {
    grid-gap: 16px;
  }
}

.board {
  position: relative;
  // background-color: #646c54;
  padding: 10px 5px;
  border-radius: 15px 13px 18px 11px;
  // box-shadow: 9px 7px 15px #6a6464;
  @each $size in $board-sizes {
    &-#{$size} {
      @include board($size);
    }
  }

  &__cell {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // color: var(--text);
    // background: var(--bg-4);
    // border: 2px solid var(--bg-3);
    // border-radius: 5px;
    // width: 90%;
    // font-size: 1.2rem;
    // font-weight: bold;
    // text-shadow: 1px 1px 1px #000;
    // text-transform: uppercase;
    // height: 37px;
    // border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    background-color: #919191;
    /* border: 2px solid var(--bg-3); */
    border-radius: 5px;
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
    // text-shadow: 1px 2px 2px #fbfbfb;
    box-shadow: 1px 2px 15px #000;
    text-transform: uppercase;
    height: 37px;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #546a0d 90%);

    @media (min-height: 750px) {
      height: 45px;
      width: 45px;
    }

    @media (min-height: 850px) {
      height: 50px;
      width: 50px;
    }

    &.correct {
      color: #fff;
      background: #4da715;
      border: 3.5px solid #88dd54;
    }

    &.present {
      color: #fff;
      background: #fdb000;
      border: 3.5px solid #f9e03c;
    }

    &.absent {
      color: #fff;
      background: var(--absent);
      border: 2px solid transparent;
    }

    &.unknown {
      border-color: var(--unknown);
    }

    &.fill-animation {
      animation: onTypeCell linear;
      animation-duration: 0.35s;
    }
  }

  &__cell-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #919191;
    /* border: 2px solid var(--bg-3); */
    border-radius: 5px;
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 1px 2px 15px #726e6e;
    text-transform: uppercase;
    height: 37px;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #030400 90%);

    @media (min-height: 750px) {
      height: 45px;
      width: 45px;
    }

    @media (min-height: 850px) {
      height: 50px;
      width: 50px;
    }

    &.correct {
      color: #fff;
      background: #4da715;
      border: 3.5px solid #88dd54;
    }

    &.present {
      color: #fff;
      background: #fdb000;
      border: 3.5px solid #f9e03c;
    }

    &.absent {
      color: #fff;
      background: var(--absent);
      border: 2px solid transparent;
    }

    &.unknown {
      border-color: var(--unknown);
    }

    &.fill-animation {
      animation: onTypeCell linear;
      animation-duration: 0.35s;
    }
  }
}

.animated-letter {
  font-size: 250px;
  font-family: Arial, sans-serif;
  // color: #443a3a3d;

  // color: #ebd3d33d;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: float 5s infinite ease-in-out, colorChange 5s infinite;
}

/* Keyframes for floating animation */
@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(10px);
  }
}

/* Keyframes for color changing animation */
// @keyframes colorChange {
//   0%,
//   100% {
//     color: red;
//   }
//   50% {
//     color: blue;
//   }
// }

@keyframes onTypeCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
