.defeatend {

  &-row1{
    text-align: center;
  }
  &-text1{
    color: white;
    font-size: 190%;
    font-weight: bold;
  }
  &-text2{
    font-size:20px;
    text-align: center;
    margin-top: 12px;
    color: black;
    text-align: center;
  }
  &-text3{
    text-align: center;
    margin-bottom: -4.7px;
  }
  &-text21{
    font-size: 150%;
    text-align: center;
    margin-top: 8px;
    color: black;
    font-size: 150%;
    text-align: center;
  }
  &-coin1{
    font-size: inherit;
  }

  &-answer
   {
    // margin-top: 7px;
    // margin-bottom: 7px;
    background-color:#368d12;
    color: white;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    margin-right: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    padding-bottom: 20px;
    /* padding: 20px 20px; */
    text-align: center;
    font-size: 110%;
    padding: 0.8px;
    border-radius: 10px;
    margin-right: 2.5px;


   }

   &-row3{
    margin-top: 7px;
    margin-bottom: 7px;
   }

   &-coin1{
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    color: black;

   }
  // &-over1{
  //   text-align: center;
  //   padding-bottom: 5px;
  // }
  // &-over2{
  //   text-align: justify;
  //   color: black;
  //   padding-top:10px;
  //   font-size: 120%;
  //   text-align: center;
  // }
  // &-answer
  // {
  //   margin-top: 7px;
  //   margin-bottom: 7px;
  //   text-align: center;

  // }
  // &-answer1{
  //   background-color:#368d12; 
  //   font-size: 100%;
  //   padding-left: 5px;
  //   padding-right: 5px;
  //   padding-top: 5px;
  //   padding-bottom: 5px;



    
  // }

 
  // &-answer{
  //   background:#368d12;
  //   border: 1px dashed #75819e;
  //   text-transform: uppercase;
  //   font-size: 160%;
  //   text-align: center;
  // }

    // &-row1
    // {
    //   position: relative;
    //   top: -12px;
    //   padding: 12px;
    // }
    //  &-over1{
    //      text-align: center;
        
    //     font-size: 200%;
    //     font-weight: 500;
    //     position: relative;
    //     top: 7.2px;
    //     padding-top: 7px;

    // }

    //  &-answer {
    //      margin-bottom: 15px;
    //      padding: 20px 20px;
    //     text-transform: uppercase;
    //     border-radius: 5px;
    //     color: white;
    //     background: #12218d;
    //    border: 1px dashed #75819e;
    //     font-size: 150%;
    //     font-weight: bold;
    //     text-align: center;
    //    }

    //   &-over2{
    //    color: black;
    //     text-align: center;
    //      margin-top: 10px;
    //  margin-bottom: 12px;
    //  padding-top: 7px;
    //   }

    // //   &-over3{
    // //     color: black;
    // //     text-align: center;
    // //   }
    
    // &-over3{
    //   text-align: center;
    //   color: black;
    // }

 }

 
  